[submodule "farmaproyect-api"]
	path = farmaproyect-api
	url = https://github.com/Manelspider/farmaproyect-api
[submodule "farmaproyect-panel"]
	path = farmaproyect-panel
	url = https://github.com/Manelspider/farmaproyect-panel
[submodule "farmaproyect-devops"]
	path = farmaproyect-devops
	url = https://github.com/Manelspider/farmaproyect-devops.git
[submodule "farmaproyect-app"]
	path = farmaproyect-app
	url = https://github.com/Manelspider/farmaproyect-app
